@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title</h2>
<h3>Contact aplicație ArtTherapy</h3>

<address>
    Aplicație realizată în cadrul laboratorului PPAW<br />
    ASP.NET MVC &amp; Entity Framework Code First<br />
</address>

<address>
    <strong>Email:</strong> <a href="mailto:apopiiariana17@gmail.com">apopiiariana17@gmail.com</a>
</address>
